.topnav {
    overflow: hidden;
    background-color: rgb(189, 144, 157);
  }
  
  /*navigation styling*/
.topnav a {
    float: left;
    color: #e0e085;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
  }
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(153, 145, 145);
    color: rgb(201, 179, 179);
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: none;
    color: white;
  }

.topnav-right{
      float: right;
  }
  h1{
      color:#2f4f4f;
      display:flex;
      
      
  }
  #second{
    box-shadow:0 4px 8px 0 gray, 0 6px 20px 0 gray;
    margin:35px;
    color:#2f4f4f;
    font-size:130%;
    text-align:center;
  }
  .img1{
     margin-left:400px;
     border-radius:100px;
  }
  .image{
    margin-top: 10px;
  }
  .main{
    display: flex;
    justify-content: space-around;
    background-color: #F48FB1;
    box-shadow:0 4px 8px 0 gray, 0 6px 20px 0 gray;
    margin:35px;
    color:#2f4f4f;
    font-size:130%;
    text-align:center;

    
  }
  footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background-color: #E91E63;
 