.topnav {
    overflow: hidden;
    background-color:whitesmoke;
  }
  
  /*navigation styling*/
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
  }
  /* Change the color of links on hover */
.topnav a:hover {
    background-color:pink;
    color: rgb(201, 179, 179);
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: none;
    color: white;
  }

.topnav-right{
      float: right;
  }
  h1{
      color:#2f4f4f;
      display:flex;
      
      
  }
  #second{
    box-shadow:0 4px 8px 0 gray, 0 6px 20px 0 gray;
    margin:35px;
    color:#2f4f4f;
    font-size:130%;
    text-align:center;
  }
  .img1{
     margin-left:400px;
     border-radius:100px;
  }
  img{
      background-image: url()
  }
  #container{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
  header{
    background-image: url("/home/wecode/Desktop/portfolio/img-folder/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg");
    background-size: cover;
  }
  .intro1{
position: fixed;
  }
  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: gray}
    #hed1{
      color: white;
    }