.topnav {
    overflow: hidden;
    background-color: rgb(189, 144, 157);
  }
  
  /*navigation styling*/
.topnav a {
    float: left;
    color: #e0e085;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
  }
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(153, 145, 145);
    color: rgb(201, 179, 179);
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: none;
    color: white;
  }

.topnav-right{
      float: right;
  }
  h1{
      color:#2f4f4f;
      display:flex;
      text-shadow: 2px 2px;
      
  }
  #second{
    box-shadow:0 4px 8px 0 gray, 0 6px 20px 0 gray;
    margin:35px;
    color:#2f4f4f;
    font-size:130%;
  }
  img{
     margin-left:400px;
  }